<div class="banner">
    <div class="textstyle">
        <h1>Formação</h1>
        <h2>Ensino Superior:</h2>
        <ul>
            <li> Bacharelado em Engenharia Eletrônica - UNIANCHIETA - Concluído em 2016</li>
            <li>Tecnnólogo em Análise e Desenvolvimento de Sistemas - UNINTER - Conclusão em 2023</li>
        </ul>
        <h2>Idiomas:</h2>
        <ul>
            <li>Inglês - Nível B2</li>
        </ul>
        <h2>Certificações Complementares:</h2>
        <ul>
            <li>Certificados Microsoft
                <ul>
                    <li>AZ-900 - Azure Fundamentos</li>
                    <li>DP-900 - Azure Data Fundamentals</li> 
                    <li>PL-900 - Power Platform Fundamentals</li>   
                    <li>MS-900 - Microsoft 365 Fundamentals</li>   
                    <li>AI-900 - Azure AI Fundamentals</li>   
                    <li>MTA 98-364 - Database Fundamentals</li>   
                    <li>MTA 98-361 - Software Development Fundamentals</li>   
                    
                </ul>
            </li>
            <li>Outras Certificações</li>
                <ul>
                    <li>Estatísticas para Soluções em TI - FIAP</li>
                    <li>Inteligência Artificial e Computacional - FIAP</li>
                    <li>Big Data - FIAP</li>
                    <li>Design Thinking - FIAP</li>
                    <li>Data Visualization - FIAP</li>
                </ul>
        </ul>
    </div>    
</div>
