
<div class="banner">
    <div class = "textstyle">
        <div class="style">
        <h1 class="display-4">Formação</h1>
        <h3>Ensino Superior:</h3>
        <ul class="list-group">
            <li class="list-group-item"> Bacharelado em Engenharia Eletrônica - UNIANCHIETA - Concluído em 2016</li>
            <li class="list-group-item">Tecnólogo em Análise e Desenvolvimento de Sistemas - UNINTER - Conclusão em 2023</li>
        </ul>
        <h3>Idiomas:</h3>
        <ul class="list-group" >
            <li class="list-group-item">Inglês - Nível B2</li>
        </ul>
        <h3>Certificações Complementares:</h3>
                <ul class="list-group">
                    <li class="list-group-item">AZ-900 - Microsoft Azure Fundamentals</li>
                    <li class="list-group-item">DP-900 - Microsoft Azure Data Fundamentals</li> 
                    <li class="list-group-item">PL-900 - Microsoft Power Platform Fundamentals</li>   
                    <li class="list-group-item">MS-900 - Microsoft 365 Fundamentals</li>   
                    <li class="list-group-item">AI-900 - Microsoft Azure AI Fundamentals</li>   
                    <li class="list-group-item">MTA 98-364 - Database Fundamentals</li>   
                    <li class="list-group-item">MTA 98-361 - Software Development Fundamentals</li>     
                    <li class="list-group-item">Estatísticas para Soluções em TI - FIAP</li>
                    <li class="list-group-item">Inteligência Artificial e Computacional - FIAP</li>
                    <li class="list-group-item">Big Data - FIAP</li>
                    <li class="list-group-item">Design Thinking - FIAP</li>
                    <li class="list-group-item">Data Visualization - FIAP</li>
                </ul>
        </div>
    </div>    
</div>
