<!--Sobre-->
<div class="banner">
    <div class="textstyle">
        <h1 class="display-4">Sobre</h1>
        <img src="../assets/img/about-foto.png"  style="float:right;width: 300px;margin-left:15px;" >
        <p> Olá, seja bem vindo ao meu CV online!</p>
        <p>Meu nome é Pedro Rocha, tenho 27 anos, brasileiro, casado e atualmente cursando Análise e Desenvolvimento de Sistemas na UNINTER – Centro Universitário Internacional.</p>
        <p>Falando um pouco mais sobre mim, migrei para área de desenvolvimento de sistemas no início de 2021, após alguns anos me sentindo estagnado profissionalmente e buscando novos horizontes. Motivado pelos meus colegas desenvolvedores, e principalmente pela minha esposa, busquei conteúdos do tema na internet, inicialmente em cursos no Youtube, para saber se realmente iria me interessar pela área. Após algum tempo estudando lógica de programação e outros temas-base da área, me inscrevi para o curso de Análise e Desenvolvimento de Sistemas na UNINTER, devido principalmente a credibilidade que a instituição passa, e pela minha vontade de realizar um curso de maneira totalmente remota.</p>
        <p>Sobre meus hobbies, eu gosto muito de jogos de computador, principalmente o League of Legends, e também alguns jogos como Crash, God of War e Cuphead. Gosto também de assistir animes, meus favoritos são Naruto, One Piece, Neon Genesis Evangelion e Death Note. Gosto muito de filmes e séries relacionados a histórias em quadrinhos, e tenho o hábito de tentar sempre assistir a algum grande filme da Marvel na pré-estreia (tentando evitar os spoilers). </p>
        <p>Atualmente pratico musculação e Muay Thai em uma academia próxima a minha casa, o que me ajuda muito a tentar uma vida mais saudável e ativa, além de contribuir muito para evitar o estresse do dia-a-dia.</p>
        <p>Desenvolvi esse site como atividade da matéria Ferramentas de Desenvolvimento Web, e nas outras páginas do site mostrarei um pouco da minha formação educacional e do meu portfólio de trabalhos do curso.</p>
    </div>
</div>

